@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
body {
  font-family: 'Roboto' !important;
  background: #011226!important;
  

}
.pepper {
  
  display: flex;
  font-size: 50px;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.homepage-container{
  
  height: 100vh;
  width: 100vw;
 
}
#name-detail-title {
  color: #53B3FE !important;
}
#grown-by{
  color: #53FEC0 !important;
}
#more-info-text {
  color: whitesmoke !important;
  opacity: 30%;
}
#description-paragraph{
  color: #B7E0FF !important;
}
.text-title {
  font-family: "Risque", cursive;
  color: white;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  
}
.text-blue {
  color: white;
  
}
.text-bright {
  color: white;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: rgb(0, 0, 0);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: white;
  color: black;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  
}

.pepper-title {
  
  display: flex;
  border-radius: 10px;

  display: flex;
  font-size: 50px;
  justify-content: center;
  color: white;
}


.bottom-footer {
  height: 200px;
  width: 100%;
  background-color: #011226;
  border-top: 1px solid #53B3FE;
  opacity: 10%;
}
