:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232323;
  --mainDark: #ffa400;
}
body {
  font-family: "Fjalla One", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;

}
.tet-title {
  font-family: "Fjalla One", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
  
}