@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
body {
  font-family: 'Risque', cursive !important;
  background: linear-gradient(145deg, #f0f0f0, #cacaca)!important;
  

}
.pepper {
  font-family: 'Risque', cursive;
  display: flex;
  font-size: 50px;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.homepage-container{
  background: whitesmoke;
  height: 100vh;
  width: 100vw;
 
}

.text-title {
  font-family: "Risque", cursive;
  color: rgb(0, 0, 0);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  
}
.text-blue {
  color: #101010;
  
}
.text-bright {
  color: #060606;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: rgb(0, 0, 0);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: white;
  color: black;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  
}

.pepper-title {
  font-family: 'Risque', cursive;
  display: flex;
  border-radius: 10px;

  display: flex;
  font-size: 50px;
  justify-content: center;
  color: rgb(62, 62, 62);
}


.bottom-footer {
  height: 200px;
  width: 100%;
  background-color: rgb(34, 34, 34);
}
